<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<a href="http://127.0.0.1:8000">главная</a>
<div class="container">
    <h1>Список продуктов</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        </tbody>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>

        </tr>

        {% endfor %}

    </table>
</div>
</body>
</html>
